# This is Git's per-user configuration file.
[user]
    name = Aria Buckles
    email = aria@seesaw.me
[alias]
    p = pull --rebase
    co = checkout
    su = branch --set-upstream-to master
    p = pull --rebase
    br = branch
    lp = log -p
    st = status
    ri = rebase -i
    rc = rebase --continue
    ci = commit
    alias = config --get-regexp ^alias
    rebase-package-lock = "!f() { git reset HEAD -- ${GIT_PREFIX}/package-lock.json && git checkout -- ${GIT_PREFIX}/package-lock.json && cd ${GIT_PREFIX} && npm install && git add -- package-lock.json; }; f"
    rpl = "!f() { git reset HEAD -- ${GIT_PREFIX}/package-lock.json && git checkout -- ${GIT_PREFIX}/package-lock.json && cd ${GIT_PREFIX} && npm install && git add -- package-lock.json; }; f"
[core]
    excludesfile = ~/.gitignore
    hooksPath = ~/.githooks
    abbrev = 8
[merge]
    tool = vimdiff
    conflictstyle = diff3
[mergetool]
    prompt = false
