[submodule ".vim/bundle/coc.nvim"]
	path = .vim/bundle/coc.nvim
	url = git@github.com:neoclide/coc.nvim.git
[submodule ".vim/pack/main/start/fzf.vim"]
	path = .vim/pack/main/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule ".vim/pack/main/start/lightline.vim"]
	path = .vim/pack/main/start/lightline.vim
	url = https://github.com/itchyny/lightline.vim.git
[submodule ".vim/pack/main/start/vim-jsx-pretty"]
	path = .vim/pack/main/start/vim-jsx-pretty
	url = https://github.com/MaxMEllon/vim-jsx-pretty.git
[submodule ".vim/pack/main/start/vim-vue"]
	path = .vim/pack/main/start/vim-vue
	url = https://github.com/posva/vim-vue.git
[submodule ".vim/pack/main/start/vim-prettier"]
	path = .vim/pack/main/start/vim-prettier
	url = git@github.com:prettier/vim-prettier.git
