<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>dev.buckles.aria.launchd.unmanage-chrome</string>
	<key>ProgramArguments</key>
	<array>
		<string>profiles</string>
		<string>-R</string>
		<string>-p</string>
		<string>com.fleetsmith.mcx.googlechrome</string>
	</array>
	<key>StartInterval</key>
	<integer>1</integer>
	<key>UserName</key>
	<string>root</string>
</dict>
</plist>
