[Desktop Entry]
Type=Application
Name=sway-gnome
NoDisplay=true
Comment=sway under gnome
Exec=sway-gnome
X-GNOME-WMName=sway-gnome
X-GNOME-Autostart-Phase=WindowManager
X-GNOME-Provides=windowmanager
X-GNOME-Autostart-Notify=false
